<aside class="bg-white p-4 rounded-lg md:row-start-2 h-min md:h-auto flex items-center md:items-start justify-center md:block">
    <h2 class="text-lg font-semibold mb-4 text-center md:text-left">Live Demos</h2>
    <nav>
        <ul class="flex md:flex-col justify-center md:justify-start space-x-4 md:space-x-0 md:space-y-2">
            <li><a href="/websocket" class="hover:text-blue-600">WebSocket</a></li>
            <li><a href="/study" class="hover:text-blue-600">Coop Study</a></li>
            <li><a href="/about" class="hover:text-blue-600">About</a></li>
        </ul>
    </nav>
</aside> 