<aside class="bg-white p-4 rounded-lg md:row-start-2 h-min md:h-auto flex items-center md:items-start justify-center md:block">
    <nav>
        <ul class="flex md:flex-col justify-center md:justify-start space-x-4 md:space-x-0 md:space-y-2">
            <li><a href="/" class="hover:text-blue-600">Dashboard</a></li>
            <li><a href="/websocket" class="hover:text-blue-600">WebSocket Demo</a></li>
            <li><a href="/study" class="hover:text-blue-600">Coop Study Demo</a></li>
            <li><a href="/about" class="hover:text-blue-600">About</a></li>
        </ul>
    </nav>
</aside> 